{
  "presets": [
    ["@babel/preset-env", { "modules": "commonjs", "targets": { "node": "20" } }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "classic",
      "pragma": "oled.jsx",
      "pragmaFrag": "oled.Fragment"
    }]
  ]
}
